name: Solidity CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: yarn
      - name: Lint Contracts
        run: yarn run lint
  unit_test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - name: Use Python 3.9.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.9.7
      - name: Install Requirements
        run: pip3 install install -r requirements.txt
      - name: Install ganache-cli
        run: yarn global add ganache-cli
      - name: Compile contracts
        run: brownie compile
      - name: Run Unit Tests
        run: brownie test --coverage
